<header>
  <nav>
    <a [routerLink]="['/products/all']" class="item">Products</a>
    <div class="item" *ngIf="categories">
      Categories
      <div class="dropdown">
        <div>
          <a
            *ngFor="let category of categories"
            [routerLink]="['/products/', category]"
            >{{ category }}</a
          >
        </div>
      </div>
    </div>
    <a class="item">Contact</a>
    <a [routerLink]="['/login']" class="item login">Sign In</a>
    <div class="underline"></div>
  </nav>
</header>
