<header>
  <nav>
    <a [routerLink]="['']" class="item">Home</a>
    <a [routerLink]="['/products/all']" class="item">Products</a>
    <div class="item" *ngIf="categories">
      Categories
      <div class="dropdown">
        <div>
          <a
            *ngFor="let category of categories"
            [routerLink]="['/products/', category]"
            >{{ category }}</a
          >
        </div>
      </div>
    </div>
    <a *ngIf="logged" click="logOut()" class="item">Log Out</a>
    <a *ngIf="!logged" [routerLink]="['/login']" class="item login">Log In</a>
    <div class="underline"></div>
  </nav>
</header>
