:root {
  --back: #f0f0f0;
  --dark: #212e38;
  --main: #0098da;
  --text: black;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", "sans serif";
}

body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--back);
  padding-right: 0 !important;
}

a {
  cursor: pointer;
  color: var(--back);
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 5px;
  margin: 10px;
}

button:enabled {
  background: var(--back);
  border: 1px solid var(--dark);
  border-radius: 8px;
  transition: 0.2s;
}

button:enabled:hover {
  background-color: var(--main);
  color: var(--back);
  border: none;
}

button:disabled {
  border: 1px solid var(--dark);
}

input {
  color: var(--dark);
  display: block;
  margin: 0.8rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 0 none;
}

input:focus {
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: var(--text);
}
