:root {
  --back: #f0f0f0;
  --dark: #212e38;
  --main: #0098da;
  --text: black;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", "sans serif";
}

body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--back);
  padding-right: 0 !important;
}

a {
  cursor: pointer;
  color: var(--back);
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: var(--text);
}
